#board ul{
    list-style: none;
}
#board ul li{
    
    
    padding:3px;  
}
#board label{
    display: block;
    float: left;
    font-size: 13px;
    width: 60px;
    text-align: center;
    font-weight: bold;
}

#board button{
    display: block;
    margin-left: 250px;
}
#board div{
    display: block;
    margin-left: 3px;
}
#last{
    text-align: center;
    
}

